.App {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: #313131;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
}

.text {
    background: none;
    color: black;
}

.true {
    text-decoration: underline;
}

.todos {
    width: 700px;
    height: 800px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 15px;
    overflow: hidden;

    box-shadow: 10px 10px 20px rgb(180, 180, 180);
}

.todos .title {
    width: 100%;
    background: #df2222;
}

.todos .half:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos .half {
    width: 100%;
    height: 50%;
}

.todos .todos-map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
